{{#each blogs as |blog|}}

  <div id="blog-{{blog.id}}" data-blog-id={{blog.id}} data-owner="{{blog.owner}}" class="bg-dark text-light m-5 p-5">
    <h2>Title: {{blog.title}} </h2>
    <h2>Body: {{blog.body}} </h2>
    <h2>ID: {{blog._id}}</h2>
    <h2>Blog Owner: {{blog.owner}} </h2>

    <div class="owned" data-owner="{{blog.owner}}">
      <form id="update-blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog-crud-form" data-action="update" >
        <textarea name="blog[title]" type="text" placeholder="Enter a blog title" maxlength="40"required></textarea>
        <textarea name="blog[body]" type="text" placeholder="Enter a blog body" maxlength="10000" required></textarea>
        <button type="submit">Update</button>
      </form>
      <form id="delete-blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog-crud-form" data-action="delete">
        <button class="btn-danger" type="submit">Delete</button>
      </form>
    </div>


    {{#each blog.comments as |comment|}}
      <div id="comment-{{comment._id}}" class="bg-success p-5 my-2" data-owner="{{comment.owner}}">

        <h4>{{comment.owner}} says</h4>
        <h4>"{{comment.text}}"</h4>

        <div class="owned" data-owner="{{comment.owner}}">

          <form id="update-comment-{{comment._id}}" data-comment-id={{comment._id}} class="comment-crud-form" data-action="update">
            <textarea name="comment[text]" type="text" placeholder="Update your comment" maxlength="1000" required></textarea>
            <button type="submit">Update</button>
          </form>
          <form id="delete-comment-{{comment._id}}" data-comment-id={{comment._id}} class="comment-crud-form" data-action="delete">
            <button type="submit">Delete</button>
          </form>

        </div>
      </div>



    {{/each}}

    <form data-blog-id={{blog.id}} class="comment-crud-form post-login" data-action="create">
      <textarea name="comment[text]" type="text" placeholder="Post your comment" maxlength="1000"required></textarea>
      <button type="submit">Create Comment</button>
    </form>

  </div>



{{/each}}
