{{#each blogs as |blog|}}

  <!-- BLOG START -->
  <div id="blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog my-1 bg-dark">

    <!-- CARD START   -->
    <div class="card m-4">

      <!-- CARD HEADER -->
      <div class="card-header" data-blog-id={{blog._id}} data-toggle="collapse" data-target="#card-body-blog-{{blog._id}}">
        <h5 id="blog-title-{{blog._id}}" class="card-title m-0 d-inline-block">{{blog.title}}</h5>
        <p class="text-primary">{{blog.handle.0.handle}}</p>

        <div class="d-flex">
          <p class="text-primary">{{blog.likes.length}} likes</p>
          <p class="text-primary ml-auto">{{blog.comments.length}} comments</p>
        </div>
      </div>

      <!-- CARD BODY START -->
      <div id="card-body-blog-{{blog._id}}" class="card-body collapse py-0">

        <!-- BLOG BODY TEXT-->
        <p id="blog-body-{{blog._id}}" class="card-text text-justify">{{blog.body}}</p>

        <!-- BLOG UPDATE/DELETE FORMS START -->
        <div class="my-1">

          <!-- UPDATE BLOG FORM TEXTAREA  -->
          <div id="blog-owned-{{blog._id}}" class="owned w-100 collapse d-none" data-owner="{{blog.owner}}">
            <form id="update-blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog-crud-form d-flex flex-column" data-action="update">
              <textarea id="update-blog-textarea-title-{{blog._id}}" class="d-inline" name="blog[title]" type="text" placeholder="Enter a blog title" maxlength="40" required>{{blog.title}}</textarea>
              <textarea id="update-blog-textarea-body-{{blog._id}}" class="d-inline my-2" name="blog[body]" type="text" placeholder="Enter a blog body" maxlength="10000" required>{{blog.body}}</textarea>
              <div class="d-flex">
                <button class="btn btn-success my-2 ml-auto" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" data-toggle="collapse" data-target="#blog-owned-{{blog._id}}" type="submit">Update Blog</button>
              </div>
            </form>

            <!-- DELETE BLOG BUTTON -->
            <form id="delete-blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog-crud-form owned d-flex" data-action="delete">
              <button class="btn bg-danger text-light ml-auto" type="submit">Delete Blog</button>
            </form>
            <!-- UPDATE BLOG FORM TEXTAREA END -->
          </div>

          <!-- EDIT BUTTON SHOW/HIDE FORMS AND LIKE BUTTON-->
          <div class="d-flex my-2">
            <!-- BLOG LIKE BUTTON -->
            <button id="like-blog={{blog._id}}" class="like-blog-btn btn btn-light card-link post-login mr-auto">Like this post 👍</button>

            <!-- BLOG EDIT BUTTON -->
            <button id="edit-blog-{{blog._id}}" class="btn btn-info edit-blog-btn owned ml-auto" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" data-toggle="collapse" data-target="#blog-owned-{{blog._id}}">Edit Blog</button>

          </div>

          <!-- BLOG UPDATE/DELETE FORMS END -->
        </div>


        <!-- LIST START -->
        <ul class="list-group list-group-flush">

          <!-- HIDE/SHOW COMMENTS OPEN/CLOSE COLLAPSE BUTTON -->
          <div class="ml-auto">
            <button class="toggle-comments clean-btn m-2" data-blog-id={{blog._id}} data-toggle="collapse" data-target=".comment[data-blog-id={{blog._id}}]">Show Comments</button>
          </div>

          <!-- SHOW/HIDE COMMENTS COLLAPSE START-->
          <div id="comments-of-blog-{{blog._id}}" class="comment collapse" data-blog-id={{blog._id}}>

            <!-- CREATE COMMENT TEXTAREA FORM -->
            <form class="comment-crud-form post-login my-2" data-blog-id={{blog._id}} data-action="create">
              <textarea class="w-100" name="comment[text]" type="text" placeholder="Post your comment" maxlength="1000" required></textarea>
              <button class="btn btn-success" type="submit">Respond to the blog</button>
            </form>


            <!-- LIST ITEM START -->
            <li id="comments-list-{{blog._id}}" class="list-group-item">

              {{#each blog.comments as |comment|}}

                <!-- COMMENT START -->
                <div id="comment-{{comment._id}}" class="comment border-bottom my-2" data-blog-id={{blog._id}} data-owner="{{comment.owner}}">

                  <!-- COMMENT OWNER HANDLE -->
                  <p>{{comment.handle.0.handle}} commented:</p>
                  <!-- COMMENT TEXT -->
                  <p id="comment-text-{{comment._id}}" class="text-justify">{{comment.text}}</p>

                  <!-- UPDATE/DELETE COMMENT FORMS START -->
                  <div class="owned" data-owner="{{comment.owner}}">

                    <!-- UPDATE COMMENT FORM -->
                    <div id="comment-owned-{{comment._id}}" class="owned d-none w-100" data-owner="{{comment.owner}}">
                      <form id="update-comment-{{comment._id}}" data-comment-id={{comment._id}} class="comment-crud-form" data-action="update" data-blog-id={{blog._id}}>
                        <textarea id="comment-textarea-{{comment._id}}" class="w-100" name="comment[text]" type="text" maxlength="1000" required>{{comment.text}}</textarea>
                        <button class="btn btn-success ml-auto" type="submit">Update Comment</button>
                      </form>

                      <!-- DELETE COMMENT BUTTON -->
                      <form id="delete-comment-{{comment._id}}" data-comment-id={{comment._id}} data-owner="{{comment.owner}}" class="comment-crud-form owned ml-auto" data-action="delete">
                        <button class="btn btn-danger my-2 text-light" type="submit">Delete Comment</button>
                      </form>
                    </div>

                    <!-- UPDATE/DELETE COMMENT FORMS END -->
                  </div>

                  <!-- COMMENT EDIT BUTTON -->
                  <div class="d-flex">
                    <button id="edit-comment-{{comment._id}}" class="edit-comment-btn btn btn-info owned my-2" data-comment-id={{comment._id}} data-owner="{{comment.owner}}">Edit Comment</button>
                  </div>

                  <!-- COMMENT END -->
                </div>

                <!-- LIST ITEM END -->
              {{/each}}
            </li>

            <!-- SHOW/HIDE COMMENTS COLLAPSE START-->
          </div>
          <!-- LIST END -->
        </ul>

        <!-- CARD BODY END -->
      </div>

      <!-- CARD END -->
    </div>

    <!-- BLOG END -->
  </div>

{{/each}}
