{{#each blogs as |blog|}}

  <!-- BLOG START -->
  <div id="blog-{{blog.id}}" data-blog-id={{blog.id}} data-owner="{{blog.owner}}" class="blog my-1 bg-dark">

    <!-- CARD START   -->
    <div class="card m-4">

      <!-- CARD HEADER -->
      <div class="card-header">
        <h5 id="blog-title-{{blog._id}}" class="card-title">{{blog.title}}</h5>
      </div>

      <!-- CARD BODY START -->
      <div class="card-body">

        <!-- USER HANDLE -->
        <label>User handle placeholder: {{blog.handle}}</label>

        <!-- BLOG BODY TEXT-->
        <p id="blog-body-{{blog._id}}" class="card-text">{{blog.body}}</p>

        <!-- BLOG UPDATE/DELETE FORMS START -->
        <div class="flex-right my-1">

          <!-- UPDATE BLOG FORM TEXTAREA  -->
          <div id="blog-owned-{{blog._id}}" class="owned d-none w-100" data-owner="{{blog.owner}}">
            <form id="update-blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog-crud-form d-flex flex-column" data-action="update">
              <textarea class="d-inline" name="blog[title]" type="text" placeholder="Enter a blog title" maxlength="40" required>{{blog.title}}</textarea>
              <textarea class="d-inline" name="blog[body]" type="text" placeholder="Enter a blog body" maxlength="10000" required>{{blog.body}}</textarea>
              <div class="d-flex">
                <button class="ml-auto" type="submit">Update Blog</button>
              </div>
            </form>

            <!-- DELETE BLOG BUTTON -->
            <form id="delete-blog-{{blog._id}}" data-blog-id={{blog._id}} data-owner="{{blog.owner}}" class="blog-crud-form owned ml-auto" data-action="delete">
              <button class="bg-danger text-light" type="submit">Delete Blog</button>
            </form>
            <!-- UPDATE BLOG FORM TEXTAREA END -->
          </div>

          <!-- EDIT BUTTON SHOW/HIDE FORMS -->
          <button id="edit-blog-{{blog._id}}" class="edit-blog-btn owned" data-blog-id={{blog._id}} data-owner="{{blog.owner}}">Edit Blog</button>

          <!-- BLOG UPDATE/DELETE FORMS END -->
        </div>



        <!-- LIST START -->
        <ul class="list-group list-group-flush">

          <!-- SHOW COMMENTS OPEN/CLOSE COLLAPSE BUTTON -->
          <div class="ml-auto">
            <button class="toggle-comments clean-btn m-2" data-blog-id={{blog._id}} data-toggle="collapse" data-target=".comment[data-blog-id={{blog._id}}]">Show Comments</button>
          </div>

          <!-- SHOW/HIDE COMMENTS COLLAPSE START-->
          <div id="comments-of-blog-{{blog.id}}" class="comment collapse" data-blog-id={{blog._id}}>

            <!-- CREATE COMMENT TEXTAREA FORM -->
            <form class="comment-crud-form post-login my-2 bg-primary" data-blog-id={{blog._id}} data-action="create">
              <textarea class="w-100" name="comment[text]" type="text" placeholder="Post your comment" maxlength="1000" required></textarea>
              <button type="submit">Create Comment</button>
            </form>


            <!-- LIST ITEM START -->
            <li class="list-group-item">

              {{#each blog.comments as |comment|}}

                <!-- COMMENT START -->
                <div id="comment-{{comment._id}}" class="comment border-bottom my-2" data-blog-id={{blog._id}} data-owner="{{comment.owner}}">

                  <!-- COMMENT OWNER HANDLE -->
                  <p>{{comment.handle}} commented:</p>
                  <!-- COMMENT TEXT -->
                  <p id="comment-text-{{comment._id}}">{{comment.text}}</p>

                  <!-- UPDATE/DELETE COMMENT FORMS START -->
                  <div class="owned" data-owner="{{comment.owner}}">

                    <!-- UPDATE COMMENT FORM -->
                    <div id="comment-owned-{{comment._id}}" class="owned d-none w-100" data-owner="{{comment.owner}}">
                      <form id="update-comment-{{comment._id}}" data-comment-id={{comment._id}} class="comment-crud-form" data-action="update" data-blog-id={{blog._id}}>
                        <textarea id="comment-textarea-{{comment._id}}" class="w-100" name="comment[text]" type="text" maxlength="1000" required>{{comment.text}}</textarea>
                        <button class="ml-auto" type="submit">Update Comment</button>
                      </form>

                      <!-- DELETE COMMENT BUTTON -->
                      <form id="delete-comment-{{comment._id}}" data-comment-id={{comment._id}} data-owner="{{comment.owner}}" class="comment-crud-form owned ml-auto" data-action="delete">
                        <button class="bg-danger text-light" type="submit">Delete Comment</button>
                      </form>
                    </div>

                    <!-- UPDATE/DELETE COMMENT FORMS END -->
                  </div>

                  <!-- COMMENT EDIT BUTTON -->
                  <div class="d-flex">
                    <button id="edit-comment-{{comment._id}}" class="edit-comment-btn owned" data-comment-id={{comment._id}} data-owner="{{comment.owner}}">Edit Comment</button>
                  </div>

                  <!-- COMMENT END -->
                </div>

                <!-- LIST ITEM END -->
              {{/each}}
            </li>

            <!-- SHOW/HIDE COMMENTS COLLAPSE START-->
          </div>
          <!-- LIST END -->
        </ul>

        <div class="card-body flex-between post-login">
          <!-- <a href="#" class="card-link">Another Comment</a> -->
          <a href="#" class="card-link">Like</a>
        </div>

        <!-- CARD BODY END -->
      </div>

      <!-- CARD END -->
    </div>

    <!-- BLOG END -->
  </div>

{{/each}}
