{{#each comment as |comment|}}

  <!-- COMMENT START -->
  <div id="comment-{{comment._id}}" class="comment border-bottom p-5 my-2" data-blog-id={{blog._id}} data-owner="{{comment.owner}}">

    <!-- COMMENT OWNER HANDLE -->
    <p>{{comment.handle}} commented:</p>
    <!-- COMMENT TEXT -->
    <p id="comment-text-{{comment._id}}">{{comment.text}}</p>

    <!-- UPDATE/DELETE COMMENT FORMS START -->
    <div class="owned" data-owner="{{comment.owner}}">

      <!-- UPDATE COMMENT FORM -->
      <div id="comment-owned-{{comment._id}}" class="owned d-none w-100" data-owner="{{comment.owner}}">
        <form id="update-comment-{{comment._id}}" data-comment-id={{comment._id}} class="comment-crud-form" data-action="update" data-blog-id={{blog._id}}>
          <textarea id="comment-textarea-{{comment._id}}" class="w-100" name="comment[text]" type="text" maxlength="1000" required>{{comment.text}}</textarea>
          <button class="ml-auto" type="submit">Update Comment</button>
        </form>

        <!-- DELETE COMMENT BUTTON -->
        <form id="delete-comment-{{comment._id}}" data-comment-id={{comment._id}} data-owner="{{comment.owner}}" class="comment-crud-form owned ml-auto" data-action="delete">
          <button class="bg-danger text-light" type="submit">Delete Comment</button>
        </form>
      </div>

      <!-- UPDATE/DELETE COMMENT FORMS END -->
    </div>

    <!-- COMMENT EDIT BUTTON -->
    <div class="d-flex">
      <button id="edit-comment-{{comment._id}}" class="edit-comment-btn owned" data-comment-id={{comment._id}} data-owner="{{comment.owner}}">Edit Comment</button>
    </div>

    <!-- COMMENT END -->
  </div>

  <!-- LIST ITEM END -->
{{/each}}
