<div class="user-content user-events yellowbg">
  <h2 class="dark-text"> My Events </h2>
</div>
{{#each events as |event|}}
  <div class="event user-events redbg" data-id="m{{event.id}}">
    <div class="user-content">
      <div class="view-mode-{{event.id}} view-mode">
        <h2>
          <small>Title: </small>{{limit event.title 40}}
        </h2>
        <p class="d-none"><small>ID: </small> {{event.id}}</p>
        <p>
          <small>Description: </small>
          {{#if event.description}} {{event.description}}
          {{else}}
            No description provided.
          {{/if}}
        </p>
        <p><small>Console: </small>
          {{#if event.console}}{{event.console}}
          {{else}}
            No console provided.
          {{/if}}</p>
        <p>
          <small>Date: </small>
          {{#if event.date}}{{event.date}}
          {{else}}
            No date provided.
          {{/if}}
          <span class="time"><small>Time:</small>
            {{#if event.readtime}}{{event.readtime}}
            {{else}}
              No time provided.
            {{/if}}
          </span></p>
        <p>
          <small>Discord ID: </small>{{event.user.discord}}</p>

      </div>

      <form class="d-none edit-mode-{{event.id}} my-update-form edit-mode">
        <h2>Title: <input name="event[title]" type="text" placeholder="title" value="{{event.title}}" required> </h2>
        <p class="d-none"><small>ID: </small><input name="event[id]" type="number" placeholder="id" value="{{event.id}}" required> </p>
        <p><small>Description: </small><textarea name="event[description]" placeholder="description" required>{{event.description}}</textarea></p>
        <p><small><label for="console-select">Console:</label></small> <select id="console-select" name="event[console]" class="custom-select" required>
            <option value="" selected>Select Console</option>
            <option value="Switch">Nintendo Switch</option>
            <option value="ps4">Playstation 4</option>
            <option value="xbox">Xbox One</option>
            <option value="pc">Computer</option>
            <option value="tabletop">Tabletop</option>
          </select></p>
        <p><small>Date: </small><input name="event[date]" type="date" placeholder="date" value="{{event.date}}" required></p>
        <p>
          <smal>Time: </smal><input name="event[time]" type="time" placeholder="time" value="{{event.readtime}}" required>
          <p></p>
          <button type="submit" class="btn btn-outline-light update-btn edit-events-button">Submit</button>
      </form>

      <form class="d-none edit-mode-{{event.id}} hide-form edit-mode">
        <input name="id" type="number" value="{{event.id}}" class="d-none" required>
        <button type="submit" class="btn btn-outline-light stop-update-btn edit-events-button">Cancel</button>
      </form>

      <form class="d-none edit-mode edit-mode-{{event.id}} delete-event-form">
        <input name="id" type="number" value="{{event.id}}" class="d-none" required>
        <button type="submit" class="btn btn-outline-warning edit-events-button">Delete</button>
      </form>
      <form class="view-form view-mode-{{event.id}} view-mode">
        <input name="id" type="number" value="{{event.id}}" class="d-none" required>
        <button type="submit" class="d-inline btn btn-outline-light view-mode edit-btn edit-events-button">Edit Event</button>
      </form>
      <button class="btn btn-outline-dark event-hider-btn btn-sm" data-id="m{{event.id}}">Close</button>
    </div>
  </div>

{{/each}}
